.button{
    display: inline;
    margin: 0 50px !important;
    /* margin: 0px 180px; */
  }

  .button-a{
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    
    
  }

  .button-a:hover{
    color: white;
   
  }

    .d-flex{
      display: flex;
    }