* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,  rgb(185, 43, 39), rgb(21, 101, 192));
  }
  
  header {
    width: 100vw;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);  
     display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  
  header .info-container {
    color: rgb(255, 255, 255);
    width: 500px;
    margin: 10px 30px;
  }
  .info-container p{
    font-size: 13px;
  }
  header .input-container {
    margin: 0 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
  }
  
  .fields #title {
    width: 270px;
    border: none;
    border-radius: 10px 0 0 0;
    padding: 10px 20px;
  }
  
  .fields #description {
    width: 270px;
    border: none;
    border-radius: 0 0 0 10px;
    padding: 20px;
  }
  
  .input-container input[type='submit'] {
    width: 80px;
    border: none;
    background-color: rgb(250, 95, 95);
    border-radius: 0 10px 10px 0;
  }
  
  .column-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .column-container .task-column {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 10px;
    width: 300px ;

     
  }
  
  .task-list {
    width: 100%;
    height: 100%;
  }
  
  .task-container {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 20px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px,
      rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    overflow: hidden;
  }
  
  .task-header {
    background-color: rgb(96, 96, 192);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .task-description-container {
    padding: 10px;
    color: rgb(78, 78, 78);
  }
  
  .error-container {
    height: 30px;
  }
  
  .error-message {
    text-align: center;
    margin: 30px;
    background-color: rgb(143, 29, 29);
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
  }

  .loginForm{
    width: 400px;
    height: 550px;
/*    background: linear-gradient(to right,  rgb(185, 43, 39), rgb(21, 101, 192));*/
    margin: 70px 500px;
/*    box-shadow: 10px 10px 5px rgb(67, 27, 27);*/
    border-radius: 20px;
    
  }

  .loginFormText{
    color: aliceblue;
    font-size: 35px;
    text-align: center;
    padding: 40px;
    text-shadow: 2px 2px 10px #000000;
  }

   .input-field {
     width: 370px; 
     height: 50px;
     border-radius: 20px;
     margin: 20px 15px;
     box-shadow: 2px 2px 10px #242b34;
   
      background: none;
      border: none;
  }/* Adjust width as needed */

  .form-label{
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 10px #000000;
    padding: 0px 20px;
   
  }

  .button{
   margin: 0px 150px;
    font-size: 20px;
/*   width: 100px;*/
   height:50px ;
    width: 150px;
/*   height:100px ;*/
   border-radius: 20px;
   /*background-color: aliceblue;
   box-shadow: 2px 2px 10px #000000;
  
   border-color: rgb(5, 252, 5) ;*/
   box-shadow: 1px 1px 25px 10px #1b63ba;
   
  }

  button:hover{
/*    background-color:limegreen;*/
/*    width: 120px;*/
/*    height: 60px;*/
/*    margin: 12px 140px;*/
    transform: scale(1.2);
  }
  


    .button{
/*      width: 300px;*/
/*      height: 70px;*/
      background: none;
      font-size: 20px;
      color: white;
      text-transform: uppercase;  
      letter-spacing: 1px;
      border: 1px solid red;

      position: relative;

      overflow: hidden;
      transition: transform 0.3s ease;


        }

      .button::before{
        content: "";

        width: 100%;
        height: 100%;

        background: linear-gradient(
          45deg,
          transparent,
          #b32d2d,
          transparent);

        position: absolute;
        left: -100%;
        top: 0;

        transition: left 0.5s;
      }

      .button:hover::before{
        left: 100%;
      }

      .btn-outline-dark{
        width: 80px;
        float: right;
      }

      .btn-outline-dark:hover {
/*          color: #fff;*/
          background-color: #6f456c !important;
/*          border-color: #212529;*/

        }

        .leftSideBar{
          height: 100vh;
          background-color: #eab2b847;
        }


        .task-column {
          display: inline-block;
          width: 300px; /* Fixed width for each column */
          margin-right: 10px; /* Adjust margin as needed */
          margin-bottom: 10px; /* Adjust margin as needed */
          /* Other styles for your task column */
        }

        .task-list.drag-over {
          border-bottom: 2px solid red; /* Choose your desired border style */
        }
        


